.button{
    composes: button from '../common.css';
    position: absolute;
    z-index: 3;
    transition: 0.3s;
    
    &.hidden{
        visibility: hidden;
        opacity: 0;
    }
}

.overlay{
   visibility: hidden;
   opacity: 0;
   width: 100%;
   height: 100%;
   position: absolute;
   display: block;
   z-index: 2;
   transition: 0.3s;
       
   &.visible{
        opacity: 0.5;
        visibility: visible;
    }
}

.background{
    background: black;
    display: block;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    
    &.visible{
        visibility: visible;
        opacity: 0.5;
    }
}
