.container__left{
    width: 0;
    flex-grow: 1;
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    ul{
        clear: fix-legacy;
        padding: 0;
    }
}