.container__right{
    width: 0;
    flex-grow: 1;
    order: 2;
    justify-content: center;
    flex-direction: column;
    
    .container__right__output{
        text-align: center;
        padding-top: 30px;
    }
}